UPLOAD_FOLDER=uploads/
DOWNLOAD_FOLDER=downloads/

DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=emulation_tools
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

WEB_API_BASE_URL=http://localhost:8000